@model IEnumerable<Billing.Web.Models.SP_REPORT_LIST_OF_PRESUMPTIOM_CASE_Result >
@{
    var i = 0;
}


<div style="overflow: hidden;" class="ibox-content">

                    
<div class="table-responsive" id="TablaParaBusquedaAvanzadaCasos">
    <table class="table table-striped table-bordered table-hover dataTables-example" id="tblListaReporte">
        <thead class="th_tabla" style="background-color:#b42734;color:white;">   
         <tr>
           <th style="font-size: 13px;font-family: Arial;"></th>
           <th style="font-size: 13px;font-family: Arial;">Date Of Referral </th>
           <th style="font-size: 13px;font-family: Arial;">Patient's Name</th>           
           <th style="font-size: 13px;font-family: Arial;">Insurer</th>           
           <th style="font-size: 13px;font-family: Arial;">Adjuster</th>          
           <th style="font-size: 13px;font-family: Arial;">Date of Injury</th>            
           <th>Acuity</th>           
        </tr>
       </thead>
       <tbody>
        @foreach (var item in Model)
         {
            i = i + 1;
                 <tr>
                     <td style="border: 1px solid #cccbcb;font-size: 12px;font-family: Arial;">@i</td>
                     <td style="border: 1px solid #cccbcb;font-size: 12px;font-family: Arial;">@item.Cis_referralDate</td>                          
                     <td style="border: 1px solid #cccbcb;font-size: 12px;font-family: Arial;">@item.patient</td>                          
                     <td style="border: 1px solid #cccbcb;font-size: 12px;font-family: Arial;">@item.Ins_name</td>                          
                     <td style="border: 1px solid #cccbcb;font-size: 12px;font-family: Arial;">@item.adjuster</td>
                     <td style="border: 1px solid #cccbcb;font-size: 12px;font-family: Arial;">@item.Cis_accidentDate</td>
                     <td style="border: 1px solid #cccbcb;font-size: 12px;font-family: Arial;">@item.acuity</td>
                 </tr>
        }   
                
        </tbody>
        
    </table>
</div>
</div>
<script>
    $(Inicio);

    function Inicio()
    {
        $("#btnGeneraWord").on("click", generaWord); //edher
        PaginarTabla();
    }

    function generaWord() {

        var invoice = $("#invoice_btn").val();
        var urlx = $("#linkWord").attr("data-url");
        window.open(urlx);
    }
   

    function PaginarTabla() {
        console.log("PaginarTabla");
        $('#tblListaReporte').DataTable({
            //"scrollY": 100,            
            "scrollY": 600,
            "bFilter": false,
            "bInfo": false,
            "bLengthChange": false,
            "bPaginate": false,
            "bSort": false
        });
    }



</script>