<div class="wrapper wrapper-content animated fadeInRight">

<div class ="row">
    <div class="col-lg-12">
            <div class="ibox float-e-margins" style="margin-bottom:0px;">
                   @Html.Partial("billing_Formulario")
            </div>
    </div>
</div> 







    <!--///////////////////LISTA///////////////////////-->
    <div class="row">    
                <div class="col-lg-12">
                 <div class="ibox-title header_formulario"></div>
                 <div class="ibox float-e-margins" style="margin-bottom:0px;">
                  <div class="ibox-content"  style="margin-bottom:0px;">
                   <div id="tabla">
                       @* @Html.Partial("billing_list") *@
                   </div> 
                 </div>
                </div>
               </div> 


                <div class="col-lg-12" id="divTotal">
                        <div class="ibox float-e-margins" style="text-align:center;background:#fff;">
                            <div class="ibox-content"  style="text-align: center; display: inline-block; padding: 26px;padding-right: 70px;margin-right:10px;font-size:12px;">
								<div style="height:45px;padding:10px;text-align:center;display: flex;float: left; align-items: center;border:1px solid #000;margin-right:10px;">                              
                                    <span style="margin-left: 12px;margin-right: 12px; font-size: 13px;">Payment Applied</span>
                                    @*<h1 class="no-margins" id="payment_amount" style="font-size: 20px;font-weight: bold;color: black;"> </h1>*@
                                    <h1 class="no-margins" id="MontoPagado" style="font-size: 20px;font-weight: bold;color: black;"> </h1>
                                    @*<span class="label label-danger pull-right">Total</span>*@
                                </div>
							
                                <div style="height:45px;padding:10px;text-align:center;display: flex;float: left; align-items: center;border:1px solid #000;margin-right:10px;">                              
                                    <span style="margin-left: 12px;margin-right: 12px; font-size: 13px;" id="balance_total_text">Total Amount</span>
                                    <h1 class="no-margins" id="Balancetotal" style="font-size: 20px;font-weight: bold;color: black;"> </h1>                                    
                                </div>
								
                                <div style="height:45px;padding:10px;text-align:center;display: flex;float: left; align-items: center;border:1px solid #000;margin-right:10px;">                              
                                    <span style="margin-left: 12px;margin-right: 12px; font-size: 13px; color:red">Balance Due</span>
                                    <h1 class="no-margins" id="SaldoPorPagar" style="font-size: 20px;font-weight: bold;color: red;"> </h1>                                    
                                </div>
								
								<div style="clear:both">
								
								</div>
                            </div>
                        </div>
                  <!--|  <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <span class="label label-info pull-right">Annual</span>
                                <h5>Orders</h5>
                            </div>
                            <div class="ibox-content">
                                <h1 class="no-margins">275,800</h1>
                                <div class="stat-percent font-bold text-info">20% <i class="fa fa-level-up"></i></div>
                                <small>New orders</small>
                            </div>
                        </div>-->


                    
                        <div class="ibox-content text-center">     
                                <div class="form-group">
                                    <input type="hidden" id="hdPaginaActualGlobal">
                                    <button id="btnActualizarDetallesFactura" onclick="validaSave()" class="btn btn-primary" type="button" data-toggle="tooltipB" data-placement="top" title="" data-original-title="Create a New case">
                                        <i class="fa fa-save"></i>&nbsp; Save
                                    </button>
                            @*        <button id="btnRegistrar" class="btn btn-primary" type="submit" data-toggle="tooltipB" data-placement="top" title="" data-original-title="Save the information">
                                        <i class="fa fa-file"></i>&nbsp; Generate Pdf
                                    </button>*@
                                 @*   <a href="#" id="linkPdf" data-url="/Case/DownloadPDF" class="btn btn-primary" target="_blank" style="display:none;"><i class="fa fa-file"></i>&nbsp;Generate link</a>*@

                                                <button id="generaPdf" class="btn btn-primary"  type="button" >Generate Pdf</button>
            <a  href='#' id="linkPdf" data-url="@Url.Content("~/Billing/DownloadPDF")" class="btn btn-primary" target="_blank" style="display:none;"><i class="fa fa-file"></i>&nbsp;Generate link</a>


                                    @*<button id="btnDwc" class="btn btn-primary" type="button" data-toggle="tooltipB" data-placement="top" title="" data-original-title="Create a New case">
                                        <i class="fa fa-save"></i>&nbsp; DWC21
                                    </button*@

                                    <button id="btnReport" class="btn btn-primary" type="button" data-toggle="tooltipB"  data-placement="top" title="" data-original-title="Create a New case">
                                        <i class="fa fa-save"></i>&nbsp; Generate Word
                                    </button>
                                    <a  href='#' id="linkWord" data-url="@Url.Content("~/Billing/ExportToWord")" class="btn btn-primary" target="_blank" style="display:none;"><i class="fa fa-file"></i>&nbsp;Generate link</a>

                                    <input type="hidden" id="invoice_btn" value="0"/>
                                    <input type="hidden" id="paciente_btn" value="0"/>
                                    <input type="hidden" id="doi_btn" value="0"/>
                                    <input type="hidden" id="cod_case_btn" value="0"/>
                                    <input type="hidden" id="cod_paciente_btn" value="0"/>
                                    <input type="hidden" id="cod_factura_btn" value="0"/>
                                    <input type="hidden" id="closing_btn" value="0"/>
                                    <input type="hidden" id="accion" value="0"/>
                                    <input type="hidden" id="hdCantidadTotalDetalles" value="0" />
                                    
                                </div>  
                         </div>
                </div>       
    </div>
</div>




@Html.Partial("footer")

<script>
    var VecesSelecionaCaso = 0;
    var NumeroFactura = "";
    var BanderaValidaciones = false; // Bandera que indica si aún quedan validaciones pendientes en los controles de la tabla.
    var Actividades;
    var paginaActual = 0 // almacena la página en donde se está actualmente.

    $(Inicio);
    
    // Función que libera el caso del usuario logueado actualmente.
    function Hola(CodigoUsuarioActual) {
        // console.log(CodigoUsuarioActual);

        $.ajax({
            type: "POST",
            async: false,
            data: JSON.stringify({ "CodigoUsuarioActual": CodigoUsuarioActual }),
            url: '@Url.Action("LiberaCasoDeUsuarioActual", "CaseInformation")',
            contentType: "application/json",
            dataType: 'json'
        });
    }

    function Inicio() 
    {
        // debugger
        
        if (RolUsuarioGlobal != 'Administrator' && BillManager == 1)
            $('#btnActualizarDetallesFactura').attr('disabled', true)
        if (RolUsuarioGlobal == 'Administrator' && (BillManager == 0))
            $('#btnActualizarDetallesFactura').attr('disabled', false)
        if (RolUsuarioGlobal == 'Administrator' && BillManager == 1)
            $('#btnActualizarDetallesFactura').attr('disabled', false)

        ProcesoActual = "Billing";

        Hola(CodigoUsuarioGlobal);

        $('.dataTables-example').DataTable();

        //////////////////////////////////////////////////////////////////////////////////////////
        $("#txtPatient").focus();

        // Cuando se presiona TAB el botón para seleccionar un caso obtiene el foco (Temporal).
        //$("#txtPatient").on("keydown", function (e) {
        //    if (e.keyCode == 13) {
        //        e.preventDefault();
        //        return false;
        //    }

        //    if (e.keyCode == 9) {
        //        e.preventDefault();
        //        $(".SeleccionarCaso").focus();
        //    }
        //});

        // ******************************************************************************************************************

        // Cuando se busca un caso, se van mostrando los resultados en la tabla de casos.
        $("#txtPatient").on("keyup", BuscaCaso);

        $("#txtclaim").on("keyup", BuscaCaso);
        $("#txtPatient").on("keyup", BuscaCaso);
        $("#cmbFilter").on("change", BuscaCaso);
        $("#cmbAseguradora").on("change", BuscaCaso);
        $("#tblBillingSearch > tbody").on("click", "tr > td > .SeleccionarFactura", SeleccionaFactura); // => agregado recientmente, estaba en vista parcial
        //////////////////////////////////////////////////////////////////////////////////////////

        

        $("#generaPdf").on("click", generaPdf); 
        $("#btnReport").on("click", generaWord); 
        
         
        $("#cmbAseguradora").select2();
        

        // Obtiene el código de la aseguradora seleccionado en su campo oculto correspondiente.
        $("#cmbAseguradora").on("change", function ()
        {
            var CodigoAseguradoraSeleccionada;
            var Aseguradora;

            CodigoAseguradoraSeleccionada = $(this).val();
            id = $(this).val();            
            $("#hdCodigoAseguradora").val(id);

            //Aseguradora = ObtenerDatosAseguradora(CodigoAseguradoraSeleccionada);

            //CargarAseguradora(Aseguradora);

        });
        
        ObtenerAutocompletarInsurer();
        valida();

        /***********************************************************/
        /* Valores por defecto puestos por Gabo para hacer pruebas */
        
        //$("#txtclaim").val("");
        //$("#txtPatient").val("ROMAN");
        //$("#hdCodigoAseguradora").val()
        //$("#cmbAseguradora").val("1").trigger("change");
        
        ObtenerActividades();

        /***********************************************************/
    }

    function BuscaCaso(e)
    {
        EstadoPago = ($("#cmbFilter").val() == "1") ? "true" : "false"; ///U = false, P =true
        Claim = $("#txtclaim").val().trim();
        ApellidoPaciente = $("#txtPatient").val().trim();
        NombreAseguradora = $("#cmbAseguradora > option:selected").text().trim();
        CodigoAseguradora = (NombreAseguradora == "---------------") ? 0 : $("#hdCodigoAseguradora").val();
        if (NombreAseguradora == "---------------")
            NombreAseguradora = "vacio";

        dato = EstadoPago + "*" + Claim + "*" + ApellidoPaciente + "*" + NombreAseguradora;
        // console.log(dato);
        

        $('#tblBillingSearch').dataTable().fnFilter(dato);
            $("#tblBillingSearch > tbody").css({ "display": "table-row-group" });
            $("#tblBillingSearch_paginate").css({ "display": "block" });




        ////////if (ApellidoPaciente== "" && Claim == "")//oculta tabla
        ////////{
        ////////    $("#tblBillingSearch > tbody").css({ "display": "none" });
        ////////    $("#tblBillingSearch_paginate").css({ "display": "none" });
        ////////}
        ////////else {
        ////////    $("#tblBillingSearch > tbody").css({ "display": "table-row-group" });
        ////////    $("#tblBillingSearch_paginate").css({ "display": "block" });
        ////////}
    }

    function buscaBilling()
    {
        //alert($("#hdCodigoAseguradora").val() );
    }

    function validaSave()
    {        
        var invoice = $("#invoice_btn").val();
        if (invoice != "0" && invoice != 0 && invoice != "" && invoice != null)//si no selecciono alguna opcion
        {
            console.log("bien");
            ancla();
        }
        else {
            mensaje = "Please Select Billing Generate File";
            error = "Error";
            MensajeError(mensaje, error);
        }
    }
    function ObtenerAutocompletarInsurer() // mg
    {
        $.ajax({
            type: "POST",
            async: false,
            url: '@Url.Action("ListarParaAutocompletar", "Insurer")',
            contentType: "application/json",
            dataType: 'json',
            success: function (Data) {
                //console.log(Data);
                //Aseguradoras = Data.Data.response['insurers']; // Obtiene datos de los aseguradoras para autocompletado     (INSURER)                   
                Aseguradoras = Data; // Obtiene datos de los aseguradoras para autocompletado     (INSURER)                   
                CargarAseguradorasEnCombo(Aseguradoras); // Carga las aseguradoras en el combo autocompletable de aseguradoras.
            }
        });

    }
    function CargarAseguradorasEnCombo(Aseguradoras) {
        var CodigoAseguradora;
        var NombreAseguradora;
        $("#cmbAseguradora").empty();
        $.map(Aseguradoras, function (val, i) {
            CodigoAseguradora = val.Codigo;
            NombreAseguradora = val.NombreCompleto;

            $("#cmbAseguradora").append("<option value='" + CodigoAseguradora + "'>" + NombreAseguradora + "</option>");
			
			 if (NombreAseguradora.indexOf('---------') != -1)
                $("#cmbAseguradora").val(CodigoAseguradora).trigger("change");
				
        });
        //$("#cmbAseguradora").val(7);
        //$("#cmbAseguradora").change();
        
    }

    function ObtenerDatosAseguradora(CodigoAseguradora) {
        var Aseguradora;

        $.ajax({
            type: "POST",
            async: false,
            data: JSON.stringify({ "Codigo": parseInt(CodigoAseguradora) }),
            url: '@Url.Action("ObtenerDatosParaEditar", "Insurer")',
                    contentType: "application/json",
                    dataType: 'json',
                    success: function (DatosAseguradora) {
                        console.log(DatosAseguradora);
                        Aseguradora = DatosAseguradora;
                        //console.log(Aseguradora);
                        //$("#hdCodigoAseguradora").val(Aseguradora.Ins_code);
                    }
                });

                return Aseguradora;
    }

@*    function ObtenerAseguradoras() {
        $.ajax({
            type: "POST",
            async: false,
            url: '@Url.Action("ListarParaAutocompletar", "Insurer")',
                    contentType: "application/json",
                    dataType: 'json',
                    success: function (Data) {
                        Aseguradoras = Data;
                    }
                });
            }*@
        
    function generaPdf() {
        //alert("aki");
        var urlx = $("#linkPdf").attr("data-url");
        var invoice = $("#invoice_btn").val();
        var paciente = $("#paciente_btn").val();
        var doi = $("#doi_btn").val();
        var codigoCaso = $("#cod_case_btn").val();
        var codigoPaciente = $("#cod_paciente_btn").val();
        var codigoFactura = $("#cod_factura_btn").val();
        var cantidadFilas = $("#hdCantidadTotalDetalles").val();
        var closing = $("#closing_btn").val();
        var montoTotal = $("#hdTotalAcumulado").val();
        

        if (invoice != "0" && invoice != 0 && invoice != "" && invoice != null)
        {
            urlx = urlx + "?invoice=" + invoice + "&patient=" + paciente + "&codigoCaso=" + codigoCaso + "&codigoPaciente=" + codigoPaciente + "&codigoFactura=" + codigoFactura + "&cantidadFilas=" + cantidadFilas + "&closing=" + closing + "&montoTotal=" + montoTotal;
            window.open(urlx);
        }
         else
            MensajeError("Please Select Billing Generate File", "Error");
   }

    function generaWord() {
        //alert("aki");
        var urlx = $("#linkWord").attr("data-url");
        var invoice = $("#invoice_btn").val();
        var paciente = $("#paciente_btn").val();
        var doi = $("#doi_btn").val();

        if (invoice != "0" && invoice != 0 && invoice != "" && invoice != null) {
            urlx = urlx + "?invoice=" + invoice + "&DOI=" + doi + "&patient=" + paciente;
            window.open(urlx);
        }
        else
            MensajeError("Please Select Billing Generate File", "Error");

    }
    function valida()
    {

    }

    function MensajeError(mensaje, error) {
        console.log("mensajeError");
        swal({
            title: error,
            text: mensaje,
            html: true
        });
    }

    function ObtenerActividades()
    {
        // var Actividades;
        console.log("ObtenerActividades");
        $.ajax({
            type: "POST",
            async: false,
            url: '@Url.Action("ListaActividades", "Activity")',
            contentType: "application/json",
            dataType: 'json',
            success: function (Data) {
                Actividades = Data;
            }
        });

        // return Actividades;
    }

    function ancla() {
         console.log('ancla');
        $("html,body").stop().animate({ scrollTop: $(".SeleccionarFactura").offset().top}, 1000);
        
        
    }


    function btnActualizarDetallesFactura_click() {
        console.log("btnActualizarDetallesFactura_click");
        //debugger
        // Llama al método "validaciones" que se encargar de validar los campos requeridos. 
        // Retorna un objeto "objetoValidacion" que contiene: 
        //      - Una bandera de error (true: Encontró error, false: No encontró error)
        //      - Un mensaje que corresponde a la fila y el campo donde se encontró el error.
        objetoValidacion = validaciones()

        if (objetoValidacion.banderaValidacion) // Si se encontró un error...
        {
            MensajeError(objetoValidacion.mensaje, "Error")
            return false // ... y aborta el proceso.
        }
        // alert("222222");
        guardaSinPaginar();
        //ancla(); // Esta función hace que baje la pantalla.
        return false
    }

</script>