@model IEnumerable<Billing.Web.Models.SP_CASE_INFORMATION_FOR_CLOSING_DATE_Result>

@{
    var i = 0;
    var estado = "";
}
<div style="overflow: hidden;" class="ibox-content">
<div class="table-responsive" id="TablaParaBusquedaAvanzadaCasos">
    <table class="table table-striped table-bordered table-hover dataTables-example" id="tblListaReporte">
        <thead class="th_tabla" style="background-color:#b42734;color:white;">  
         <tr>
           <th></th>
           <th style="font-size: 11px;font-family: Arial;">Insurance </th>
           <th style="font-size: 11px;font-family: Arial;">Adjuster</th>           
           <th style="font-size: 11px;font-family: Arial;">Patient</th>           
           <th style="font-size: 11px;font-family: Arial;">DOI</th>           
           <th style="font-size: 11px;font-family: Arial;">Status</th>           
           <th style="font-size: 11px;font-family: Arial;width: 120px;">Closing Date</th>           
        </tr>
       </thead>
       <tbody>
        @foreach (var item in Model)
         {
            if (item.Cis_status == true)
            {
                estado = "Open";
            }
            else
            {
                estado = "Close";
            }

                i = i + 1;
                 <tr>
                     <td style="border: 1px solid #cccbcb;font-size:10px; font-family: Arial;">@i</td>
                     <td style="border: 1px solid #cccbcb;font-size:10px; font-family: Arial;">@item.Ins_name</td>                          
                     <td style="border: 1px solid #cccbcb;font-size:10px; font-family: Arial;">@item.ADJUSTER</td>                          
                     <td style="border: 1px solid #cccbcb;font-size:10px; font-family: Arial;">@item.Patient</td>                          
                     <td style="border: 1px solid #cccbcb;font-size:10px; font-family: Arial;">@item.accident_date</td>                                   
                     <td style="border: 1px solid #cccbcb;font-size:10px; font-family: Arial;">@estado</td>                                               
                     <td style="border: 1px solid #cccbcb;font-size:10px; font-family: Arial;width: 120px;">-</td>                 

                 </tr>
         }  
       </tbody>
        
    </table>
</div>
</div>
<script>
    $(Inicio);

    function Inicio() {
        $("#btnGeneraWord").on("click", generaWord); //edher
        PaginarTabla();
    }

    function generaWord() {

        //var invoice = $("#invoice_btn").val();
        //var urlx = $("#linkWord").attr("data-url");
        //urlx = urlx;
        //window.open(urlx);


    }


    function PaginarTabla() {
        console.log("PaginarTabla");
        $('#tblListaReporte').DataTable({
            //"scrollY": 100,            
            "scrollY": 600,
            "bFilter": false,
            "bInfo": false,
            "bLengthChange": false,
            "bPaginate": false,
            "bSort": false
        });
    }



</script>