@model IEnumerable<Billing.Web.Models.SP_LIST_DETAILT_PAYMENT_Result>                                      


<div class="table-responsive" id="EnvolturatblFacturasEliminar_tabla">
    <!-- <div style="border: 1px solid #444444; padding: 0.5em; width: 116px;">
        <span style="background-color: rgb(254, 250, 173); border: 1px solid #6f6464; border-radius: 0.2em; padding: 0 0.5em;">&nbsp</span> <span style="color: gray; font-weight: bold; font-style: italic; font-size: 0.9em;">Partially Paid</span>    
        <br />
        <span style="background-color: rgb(186, 255, 253); border: 1px solid #6f6464; border-radius: 0.2em; padding: 0 0.5em;">&nbsp</span> <span style="color: gray; font-weight: bold; font-style: italic; font-size: 0.9em;">Unpaid</span>
    </div>-->
    <table class="table table-striped table-bordered table-hover dataTables-example" id="tblDetallePago">
        <thead class="th_tabla">
            <tr>
                <!-- 0   --> <th class="hidden">Billing Code</th>
                <!-- 1   --> <th class="TextoAlineado">Bill Number</th>
                <!-- 2   --> <th class="hidden">Case Code</th>
                <!-- 3   --> <th class="TextoAlineado">claim #</th>
                @*<!-- 4   --> <th class="TextoAlineado">Insurer</th>*@
                <!-- 5   --> <th class="TextoAlineado">Patient</th>
                <!-- 6   --> <th class="TextoAlineado">DOI</th>
                <!-- 7   --> <th class="TextoAlineado">Closing Date</th>
                <!-- 8   --> <th class="TextoAlineado">Total Amount</th>
                <!-- 9   --> <th class="TextoAlineado">Balance Due</th>
                
            </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        { 
            <tr>
                <!-- 0   --> <th class="hidden">@item.Bih_code</th>
                <!-- 1   --> <th class="TextoAlineado">@item.Bih_code_old</th>
                <!-- 2   --> <th class="hidden">@item.Cis_code</th>
                <!-- 3   --> <th class="TextoAlineado">@item.Cis_caseCode</th>
                @*<!-- 4   --> <th class="TextoAlineado">@item.Insurer</th>*@
                <!-- 5   --> <th class="TextoAlineado">@item.Patient</th>
                <!-- 6   --> <th class="TextoAlineado">@item.AccidentDate</th>
                <!-- 7   --> <th class="TextoAlineado">@item.ClosingDate</th>
                <!-- 8   --> <th class="TextoAlineado">@item.Total</th>
                <!-- 9   --> <th class="TextoAlineado">@item.Pab_amount</th>
                
            </tr>
        }
        <tfoot>
            <tr>
                <!-- 0   --> <th class="hidden"></th>
                <!-- 1   --> <th class="TextoAlineado"></th>
                <!-- 2   --> <th class="hidden"></th>
                <!-- 3   --> <th class="TextoAlineado"></th>
                @*<!-- 4   --> <th class="TextoAlineado"></th>*@
                <!-- 5   --> <th class="TextoAlineado"></th>
                <!-- 6   --> <th class="TextoAlineado"></th>
                <!-- 7   --> <th class="TextoAlineado" id="LabelSaldoTotalFactura">TOTAL</th>
                <!-- 8   --> <th class="TextoAlineado" id="SaldoTotalFactura">0.00</th>
                <!-- 9   --> <th class="TextoAlineado"></th>
            </tr>
        </tfoot>
    </table>

    <a href="#" class="btn btn-danger  btn-bitbucket" id="btnEliminaPagoDetallado">Delete</a>    
    <input type="button" class="btn btn-danger cancelaEliminaFormulario" value="Cancel"/>
</div>

<script>
    $(Inicio)

    function Inicio()
    {
        var SaldoTotalFactura = 0.00

        PaginarTabla();

        $('#tblDetallePago > tbody > tr').each(function () {
            SaldoTotalFactura += parseFloat($(this)["0"].children[8].innerText.trim())
        })

        $('#SaldoTotalFactura').text(parseFloat(SaldoTotalFactura).toFixed(2)).css({ 'color': 'red' })

        $(".cancelaEliminaFormulario").on("click", cancelaEliminaFormulario_click)

        // Elimina el pago desde el botón "EliminarPago" que se muestra debajo de la tabla "tblDetallePago".
        $('#btnEliminaPagoDetallado').on('click', btnEliminaPagoDetallado_click)

    }

    function btnEliminaPagoDetallado_click(e) {
        e.preventDefault()

        var codigoPago

        codigoPago = parseInt($('#hdCodigoPago').val())

        MensajeConfirmacionMenu('Do you want to delete this payment?', 'Confirmation', RespuestaConfirmacionPago, codigoPago)
    }

    function cancelaEliminaFormulario_click()
    {
        $("#EnvolturatblFacturasEliminar_tabla").css("display", "none");
        $("#EnvolturatblFacturasEliminar_tabla").html("");

        $("#FormularioPagosParaEliminar").css("display", "none");
        $("#divPagosParaEliminar").css("display", "none");

        $("#EnvolturaPagosParaEliminar").css("display", "none");
        $("#cmbFilterModal").val("7").trigger("change");
    }

    // function EliminaPago(objetoArgumentos)
    function EliminaPago(codigoPago) {
        var Pago // Aquí se obtiene un pago, es decir el conjunto de facturas que conforman un pago

        // Obtiene un pago, es decir el conjunto de facturas que conforman un pago.
        Pago = ObtienePago(codigoPago);

        $.each(Pago, function (Indice, Valor) {
            var objFacturaParaRevertir = new FacturaParaRevertir();

            objFacturaParaRevertir.CodigoFactura = Valor.Bih_code;
            objFacturaParaRevertir.Monto = parseFloat(Valor.Pab_amount);

            FacturasParaRevertir.push(objFacturaParaRevertir);
        });

        // Este llamada actualiza los montos en las facturas (reversión de los montos) y actualiza el estado de las mismas.
        RevierteMontosEnFactura(FacturasParaRevertir);

        // Esta llamada elimina el pago de la tabla "PayHead" y "PayBody".
        EliminaPagoFisico(codigoPago);

        CargarAseguradorasParaEliminacion();
        $("#EnvolturaPagosParaEliminar").html('');
        $("#btnCancelarModalElimina").trigger("click");
    }

    var RespuestaConfirmacionPago = function (Respuesta, codigoPago) {
        // si confirma la eliminación.
        if (Respuesta) {
            EliminaPago(codigoPago);
            MensajeError('Payment deleted Successfully!!!', '');
            // RespuestaConfirmacionPago
            ObtenerAseguradorasParaPago();
            CargarAseguradorasParaPago();
        }
            // si cancela la eliminación.
        else {
            // $("#btnCancelarModalElimina").trigger("click");
        }
        
        // Hace que después de revertir el pago todo vuelva a la normalidad, es decir los valores 
        // de la página principal de pago vuelven a su estado original.
        
        // $("#cmbFilter").val(CodigoAseguradoraSeleccionada).trigger("change");
        $("#cmbFilter").val(7).trigger("change");
    }

    // function EliminaPago(objetoArgumentos)
    function EliminaPago(codigoPago) {
        var Pago // Aquí se obtiene un pago, es decir el conjunto de facturas que conforman un pago

        // Obtiene un pago, es decir el conjunto de facturas que conforman un pago.
        Pago = ObtienePago(codigoPago);

        $.each(Pago, function (Indice, Valor) {
            var objFacturaParaRevertir = new FacturaParaRevertir();

            objFacturaParaRevertir.CodigoFactura = Valor.Bih_code;
            objFacturaParaRevertir.Monto = parseFloat(Valor.Pab_amount);

            FacturasParaRevertir.push(objFacturaParaRevertir);
        });

        // Este llamada actualiza los montos en las facturas (reversión de los montos) y actualiza el estado de las mismas.
        RevierteMontosEnFactura(FacturasParaRevertir);

        // Esta llamada elimina el pago de la tabla "PayHead" y "PayBody".
        EliminaPagoFisico(codigoPago);

        CargarAseguradorasParaEliminacion();
        $("#EnvolturaPagosParaEliminar").html('');
        $("#btnCancelarModalElimina").trigger("click");
    }


</script>